/*
.carousel-showmanymoveone
{
  .carousel-control
  { 
    width: 4%;
    background-image:none;

    &.left 
    {
      margin-left:15px;
    }

    &.right 
    {
      margin-right:15px;
    }
  }

  .cloneditem-1, 
  .cloneditem-2, 
  .cloneditem-3
  {
    display: none;
  }

  .carousel-inner
  {
    @media all and (min-width: 768px)
    {
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        { 
          transform: translate3d(50%, 0, 0);  
          left: 0;
        }

        > .item.active.left,
        > .item.prev
        { 
          transform: translate3d(-50%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }    
      } 

      > .active.left,
      > .prev
      {
        left: -50%;
      }

      > .active.right,
      > .next
      {
        left:  50%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-1 
      {
        display: block;
      }
    }

    @media all and (min-width: 992px)
    {    
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        { 
          transform: translate3d(25%, 0, 0);  
          left: 0;
        }    

        > .item.active.left,
        > .item.prev
        { 
          transform: translate3d(-25%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }
      }

      > .active.left,
      > .prev
      {
        left: -25%;
      }

      > .active.right,
      > .next
      {
        left:  25%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-2, 
      .cloneditem-3
      {
        display: block;
      }
    }    
  }
}


.container
{
  margin-bottom: 50px;
}
body
{
  font-family: 'Bitter', sans-serif;
  color: #E54A41;
  background-image: url('//static.rtpdesign.co.uk/blog/img/background.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 20%;
}
p
{
  font-family: 'Open Sans', sans-serif;
  color: #333;
  margin-bottom: 2em;
}
h2
{
  margin: 2em 0 1em;
}

.logo
{
  margin: 20px auto;
  height: 100px;  
  
  @media only screen and (min-width : 768px) {  
    margin: 28px;
    float: left;
  }
}

.title
{
  padding: 28px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  text-align: center;
  font-size: 40px;
  font-family: arial;
  margin-top: 80px;
  color: whitesmoke;
  text-shadow: 0px 0px 6px black;
}

.content-all{
  width: 350px;
  margin: auto;
  perspective: 1000px;
  position: relative;
  margin-top: 200px;
}

.content-carrousel{
  width: 100%;
  height: 50px;
  vertical-align: middle;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover{
  animation-play-state: paused;
  cursor: pointer;
}


.content-carrousel figure{
  background-color: white;
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
  margin: auto;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
}

.content-carrousel figure:hover{
  box-shadow: 0px 0px 10px 0px black;
  transition: all 300ms;
  width: 150%;
  height: 300px;
  position: absolute;
  margin: auto;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 

}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(90deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(180deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(270deg) translateZ(300px);}

.content-carrousel img{
  width: 100%;
  transition: all 300ms;
  position: absolute;
  margin: auto;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
}

.content-carrousel img:hover{
  width: 100%;
  transition: all 300ms;
  position: absolute;
  margin: auto;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
}


@keyframes rotar{
  from{
      transform: rotateY(0deg);
  }to{
      transform: rotateY(360deg);
  }
}