.example-card {
  max-width: 300px;
  background-size: cover;
  -webkit-box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.41);
-moz-box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.41);
box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.41);
}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
